{
  "id": {{ agent_id | tojson }},
  "name": {{ agent_display_name | tojson }},
  "workspace": {{ workspace_path | tojson }},
  "agentDir": {{ agent_dir_path | tojson }},
  "heartbeat": {
    "intervalSeconds": 60
  }
}
